body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right,purple,indigo) ;
    color: ivory; 
    
    
}
header{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.61);
    color:indigo;
}

.navbar-brand h1{
    
    color: indigo;
    margin-top:0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand{
    padding: 3px;
    margin-left:0px !important;
    margin-top: 7px;
}

.container{
   
}
header .container{
    margin :auto;
    
}
header p{
    color: indigo;
    margin: 2px;
    font-size: 16px

}

#header-nav{
    background-color: ivory;
  
    border-radius: 0;
    border: 0;

    

}

#logo-img{
    background: url('../images/part_4Artboard1.png')  no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    margin: 5px;
    
}

#nav-list{
    margin-top:0px;
}

#nav-list a{
    color:indigo;
    text-align: center;
    
}

#nav-list a:hover{
    background:rgba(128, 0, 128, 0.397);
}

#nav-list a span{
    font-size:1.5em;
}

#phone{
    margin-top: 0px;
}

#phone a{
    text-align:right;
    padding-bottom: 0;
}

#phone div{
    text-align: right;
    padding-right:15px;
}

 .navbar-header .icon-bar{

    border: 2px solid indigo;
    width:30px;
    

}
.navbar-header button.navbar-toggle{
    
    border:0;
    margin-top: 15px;

}


#collapsable-nav a{
    font-size: 24px;
}
#collapsable-nav a span{
    font-size: 22px;
}
.img-responsive{
    border-radius: 10px;
    
}

.jumbotron{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.61);
}

div#call-btn{
    background-color: ivory;
    
    color: indigo;
    text-align: center;
    width:93.6%;
    margin:auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.61);
}

.btn{
    font-size: 24px;
    color: indigo;
}
    


