body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: ivory; 
    
    
}
header{
    box-shadow: 0px 10px 10px rgba(119, 119, 119, 0.507);
    color:black;
}

.navbar-brand h1{
    
    color: black;
    margin-top:0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand{
    padding: 3px;
    margin-left:0px !important;
    margin-top: 7px;
}

header .container{
    margin :auto;
    
}
header p{
    color: black;
    margin: 2px;
    font-size: 16px

}

#header-nav{
    background-color: ivory;
  
    border-radius: 0;
    border: 0;

    

}

#logo-img{
    background: url('../images/branding.png')  no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    margin: 5px;
    
}

#nav-list{
    margin-top:0px;
}

#nav-list a{
    color:black;
    text-align: center;
    
}

#nav-list a:hover{
    background:rgba(116, 116, 116, 0.527);
    border-radius: 5px;
}

#nav-list a span{
    font-size:1.5em;
}

#phone{
    margin-top: 0px;
}

#phone a{
    text-align:right;
    padding-bottom: 0;
}

#phone div{
    text-align: right;
    padding-right:15px;
}

 .navbar-header .icon-bar{

    border: 2px solid black;
    width:30px;
    

}
.navbar-header button.navbar-toggle{
    
    border:0;
    margin-top: 15px;

}


#collapsable-nav a{
    font-size: 24px;
}
#collapsable-nav a span{
    font-size: 22px;
}
.img-responsive{
    border-radius: 5px;
    
}

.jumbotron{
    box-shadow: 0px 0px 20px 5px rgba(109, 109, 109, 0.61);
    margin:0;
    padding:0 !important;
   
}

div#call-btn{
    background-color: ivory;
    
    color: black;
    text-align: center;
    width:93.6%;
    margin:auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(109, 109, 109, 0.61);
}

.btn{
    font-size: 24px;
    color: black;
}

#designtypes,#popular,#map{
    height:250px;
    width: 100%;
    margin-bottom: 15px;
    position:relative;
    overflow: hidden;
    background-color: ivory;
    border-radius: 5px;
}
#designtypes:hover,#popular:hover,#map:hover{
    box-shadow:0px 0px 10px 5px rgba(109, 109, 109, 0.61); 
}
#tiles{
    margin-top: 20px;
}

#tiles span {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: black;
    background-color: rgba(128, 128, 128, 0.5);
    font-weight: 600;
}


#tiles a:hover{
    text-decoration: none;
}

.panel-footer{
    color: black;
    margin-top: 20px;
    border:0;
    box-shadow: 10px 0px 10px 10px rgba(109, 109, 109, 0.61);
    
    
}
.panel-footer .row{

    margin-bottom: 20px;
    background-color: ivory;

}

#hours,#address,#testimonials{
    line-height:2;
}

#hours>span,#address>span{
    font-size:20px;
    font-weight: 700;
}

#testimonials{
    font-style: italic;
}


.designs-tile{
    height: 150px;
    width: 150px;
    position: relative;
    background-color: ivory;
    border-radius: 5px;
    margin: 0 auto 15px;
    overflow: hidden;
}
.designs-tile:hover{
    box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.61);
}

.designs-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align:center;
    background-color: rgba(128, 128, 128, 0.5);
}


/* examples styles */
.example-tile{
    margin-bottom: 20px;
    
}
.example-tile .row{
    background-color: ivory;
    color: black;
    border-radius:5px;
    margin: 10px;
}

.example-tile .example-price{
    font-size: 24px;
    text-align:center;
    background-color: grey;
    width: 100%;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    
}

.example-photo{
    position: relative;
    overflow:hidden;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 150px;
}

.example-photo div{
    position: absolute;
    bottom :0;
    right:0;
    width:80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: ivory;
}

.example-desc{
    padding-right: 20px;
}

h3.example-title{
    font-weight: 600;
}

.details{
    font-style: italic;
}



@media (min-width:1200px){

}

@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:768px) and (max-width:991px){

}
@media (max-width:767px){

    .panel-footer section{
        text-align: center;
        margin-bottom: 20px;
        
    }
    #hours,#address,#testimonials{
        line-height:1.2;
    }

    .example-desc{
        text-align: center;
    }

}

