*{
    box-sizing: border-box;
}

h2{
    position: relative;
    background-color: blue;
    text-align: center;
    color: white;
    left:60%;
    width: 40%;
    padding: 3px;
    top:3px;
    margin: 0;
    
    
}

.col{
    float: left;
    border: 2px solid blue;
    padding: 0px;
    background-color: darkorange;
    margin-bottom: 10px;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

@media (min-width:992px){

    .col{
        width:33.33%;
    }
    
}

@media (max-width:991px) and (min-width:768px){

    .col{
        width:50%;
    }
    .col1{
        width: 100%;
    }




}
@media (max-width:767px){
    .col{
        width:100%;
    }

}